<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708691986820-6dqtpc53mbc262js2ac8tj45okrlvoq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708691986820-6dqtpc53mbc262js2ac8tj45okrlvoq5</string>
	<key>API_KEY</key>
	<string>AIzaSyA86x8HK4qsbSCMvatwtlqNPnSQLu9-48Y</string>
	<key>GCM_SENDER_ID</key>
	<string>708691986820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uniapp</string>
	<key>PROJECT_ID</key>
	<string>uniapp-bacf3</string>
	<key>STORAGE_BUCKET</key>
	<string>uniapp-bacf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708691986820:ios:ad1fa444e4104e54cdf5d1</string>
	<key>DATABASE_URL</key>
	<string>https://uniapp-bacf3-default-rtdb.firebaseio.com</string>
</dict>
</plist>